# --------------------------------------------------------------------------- #
#   .coveragerc                                                               #
#                                                                             #
#   Copyright © 2015-2020, Rajiv Bakulesh Shah, original author.              #
#   All rights reserved.                                                      #
# --------------------------------------------------------------------------- #


[run]
branch = True
source = .
omit =
    tests/*
    venv/*
    setup.py

[report]
show_missing = True
