#-----------------------------------------------------------------------------#
#   .coveragerc                                                               #
#                                                                             #
#   Copyright © 2015-2017, Rajiv Bakulesh Shah, original author.              #
#   All rights reserved.                                                      #
#-----------------------------------------------------------------------------#



[run]
branch = True
source = .
omit =
    tests/*
    venv/*
    setup.py

[report]
show_missing = True
