# --------------------------------------------------------------------------- #
#   .flake8                                                                   #
#                                                                             #
#   Copyright © 2015-2021, Rajiv Bakulesh Shah, original author.              #
#                                                                             #
#   Licensed under the Apache License, Version 2.0 (the "License");           #
#   you may not use this file except in compliance with the License.          #
#   You may obtain a copy of the License at:                                  #
#       http://www.apache.org/licenses/LICENSE-2.0                            #
#                                                                             #
#   Unless required by applicable law or agreed to in writing, software       #
#   distributed under the License is distributed on an "AS IS" BASIS,         #
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  #
#   See the License for the specific language governing permissions and       #
#   limitations under the License.                                            #
# --------------------------------------------------------------------------- #


[flake8]

# Legend
# ------
# E126: continuation line over-indented for hanging indent
# E127: continuation line over-indented for visual indent
# E226: missing whitespace around arithmetic operator
# E302: expected 2 blank lines, found 1
# E305: expected 2 blank lines after class or function definition, found 1
# E402: module level import not at top of file
# E501: line too long (80 > 79 characters)
# E711: comparison to None should be 'if cond is None:'
# E713: test for membership should be 'not in'
# F401: '.monkey' imported but unused
# W503: line break before binary operator

ignore = E226,E501,W503

per-file-ignores =
   pottery/__init__.py:E402
   pottery/base.py:F401
   pottery/exceptions.py:E302
   pottery/monkey.py:E302,E305,E402
   pottery/redlock.py:E127
   tests/*.py:E126,E127,E711,E713
   tests/test_redis.py:E711,F401
   tests/test_source.py:F401
