appdirs==1.4.3
args==0.1.0
certifi==2017.4.17
chardet==3.0.3
clint==0.5.1
coverage==4.4.1
idna==2.5
isort==4.2.5
packaging==16.8
pkginfo==1.4.1
pyparsing==2.2.0
redis==2.10.5
requests==2.17.3
requests-toolbelt==0.8.0
six==1.10.0
tqdm==4.14.0
twine==1.9.1
urllib3==1.21.1
