#-----------------------------------------------------------------------------#
#   requirements-to-freeze.txt                                                #
#                                                                             #
#   Copyright © 2015-2018, Rajiv Bakulesh Shah, original author.              #
#   All rights reserved.                                                      #
#-----------------------------------------------------------------------------#



redis
murmurhash3

isort
coverage
pyflakes

wheel
twine
