bandit==1.7.2
bleach==4.1.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
colorama==0.4.4
coverage==6.3.1
Deprecated==1.2.13
docutils==0.18.1
dparse==0.5.1
flake8==4.0.1
gitdb==4.0.9
GitPython==3.1.26
hiredis==2.0.0
idna==3.3
importlib-metadata==4.2.0
isort==5.10.1
keyring==23.5.0
mccabe==0.6.1
mmh3==3.0.0
mypy==0.931
mypy-extensions==0.4.3
packaging==21.3
pbr==5.8.1
pkginfo==1.8.2
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
pyparsing==3.0.7
PyYAML==6.0
readme-renderer==32.0
redis==4.1.4
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
safety==1.10.3
six==1.16.0
smmap==5.0.0
stevedore==3.5.0
toml==0.10.2
tomli==2.0.1
tqdm==4.62.3
twine==3.8.0
types-redis==4.1.15
typing_extensions==4.1.1
urllib3==1.26.8
webencodings==0.5.1
wrapt==1.13.3
zipp==3.7.0
