#-----------------------------------------------------------------------------#
#   requirements-to-freeze.txt                                                #
#                                                                             #
#   Copyright © 2015-2016, Rajiv Bakulesh Shah, original author.              #
#   All rights reserved.                                                      #
#-----------------------------------------------------------------------------#



redis

twine
